
.canvasContainer {
    position: absolute;
    top: 0;
    pointer-events: none;
}
.scrollContainer {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
    font-size: 10em;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
    color: #f5ff00
}

.scroll {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
